*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
/* header */
.header{
    background-color: #b14878;
}

.header-content{
    color: #b14878;
}

 ul li{
    list-style:none!important;
}